<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pelicula</title>

    <style>
        form .invalid-feedback {
            display: block;
        }
    </style>
</head>

<body>
<!-- barra de navegacion -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Cinema Trailler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">Peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/administration">Administracion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="content">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Editar Pelicula</h2>
        </div>
        <div class="card-body">
            <p class="lead text-muted">Ingresa los detalles de la nueva película</p>
            <hr class="my-4">
            <div th:insert="admin/form :: form ">

            </div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>

</body>

</html>